<!DOCTYPE html>
<html>
  <head>
    <title>운동 승낙</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
            <script src="/js/jquery-3.2.1.min.js"></script>
                        <script src="http://code.responsivevoice.org/responsivevoice.js"></script>

  </head>
  <body>
  <script type="text/javascript">
      var speech = "<%= query %>";
      console.log(speech);
      responsiveVoice.speak(speech, "Korean Female", {rate: 1.0});
      </script>
<div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>여기에요!</h1></strong><div class="ribbon-stitches-bottom"></div></div>
    <p id="ViewTimer"></p><img src="http://192.9.44.54:8081/smash/resources/img/programimg/programImg_walkfinish331to305.png" id="img" width="576" height="900"/>


       <h2> 오늘 걸은 걸음 수 : <%= todaywalk %>걸음</h2>
       <h2> 오늘 소모 칼로리량 : <%= todaycalorie %>Kcal</h2>
        <br><br>
       <h2> 오늘 걸은 걸음 수 : <%= totalwalk %>걸음</h2>
       <h2> 오늘 소모 칼로리량 : <%= totalcalorie %>Kcal</h2>
        <h2> <%= name %>님의 남은 운동 갯수 : <%= count %></h2>
        <a href='/search_exercise' class='PauseBtn'>운동하기</a>
        <a href='/pause' class='PauseBtn'>그만하기</a>&nbsp;&nbsp;&nbsp;&nbsp;

        <br><br>
          </body>
</html>
