<!DOCTYPE html>
<html>
  <head>
    <title>운동 승낙</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta http-equiv="refresh" content="20;url='/search_exercise'">
            <script src="/js/jquery-3.2.1.min.js"></script>
            <script src="http://code.responsivevoice.org/responsivevoice.js"></script>


  </head>
  <body>
    <script type="text/javascript">
      var speech = "<%= query %>";
      console.log(speech);
      responsiveVoice.speak(speech, "Korean Female", {rate: 1.0});
      </script>

<script language='javascript'>

  cnt = 20; // 카운트다운 시간 초단위로 표시
  function countdown() {
   if(cnt == 0){
          // 시간이 0일경우

         locateKap();
   }else {
         // 시간이 남았을 경우 카운트다운을 지속한다.
        document.all.choonDiv.innerHTML = cnt;
        setTimeout("countdown()",1000);
  cnt--;
   }
  }
</script>
       <h1> <%= username %>님의 남은 운동 갯수 : <%= count %></h1>
       <h1> <%= username %>님의 걸음 수 : <%= step %></h1>

      <br><br><br><br><br><br>
      <br><br><br><br><br><br>

  <p id="ViewTimer"></p><img src="<%= image %>" id="img" width="576" height="900"/>

<h1 id="choonDiv"></h1>

<script>countdown();</script>
  <a href='/pause' class='PauseBtn'>운동중단</a>



  </body>
</html>
