<!DOCTYPE html>
<html>
  <head>
    <title>대기화면 </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery-3.2.1.min.js"></script>
  	<script type="text/javascript" src="/js/weather.js"></script>
    <meta http-equiv="refresh" content="1">
  </head>
  <body>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>

    <% var d = new Date(); %>
    <h2> <%=d.getFullYear()%>년 <%=d.getMonth()+1%>월 <%=d.getDate()%>일<img  id="result-image" alt=""></h2>
    <h1> <%=d.getHours()%>시 <%=d.getMinutes()%>분</h1>

    <img src="/images/exercise/notice.jpg" id="img"/>
  </body>
</html>
