<!DOCTYPE html>
<html>
  <head>
    <title>대기화면 </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery-3.2.1.min.js"></script>
  	<script type="text/javascript" src="/js/weather.js"></script>
    <meta http-equiv="refresh" content="4">
  </head>
  <body>

    <% var d = new Date(); %>
    <h2> <%=d.getFullYear()%>년 <%=d.getMonth()+1%>월 <%=d.getDate()%>일<img  id="result-image" alt=""></h2>
    <h1> <%=d.getHours()%>시 <%=d.getMinutes()%>분</h1>
    <h3>실내 온습도 : <%=temp%>C, <%=humi%>%</h3> 
  </body>
</html>
